
.portrait-image-container {
  width: 100%; 
  height: auto; 
  justify-content: center; 
  align-items: center; 
  display: flex;
  overflow: visible; 
  margin-right: 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.portrait-image-container img {
  width: 600px; 
  height: 600px; 
  object-fit: contain; 
  max-width: 100%; 
  max-height: 100vh; 
  transform: scale(1);
  transition: all 0.8s ease-in-out;
}
  
  .portrait-image-container.loaded {
    opacity: 1;
  }
  
  .portrait-image-container.loaded img {
    transform: scale(1.05);
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
  }